/*--------------------------------------------------------------
WooCommerce Variable Product - Bootscore v6.4.0
--------------------------------------------------------------*/

// Variations select
.woocommerce div.product form.cart .variations {

  select {
    margin-right: 0;
  }
}


// Quantity and add-to-cart-button
form.variations_form.cart {
  flex-direction: column;
}

.woocommerce-variation-add-to-cart.variations_button {
  display: flex;
}


// Enable window alert on btn click if no selection is made
.woocommerce button.disabled.button,
.woocommerce div.product form.cart button.disabled.button {
  pointer-events: auto;
  cursor: inherit;
}

.woocommerce-variation-price {
  margin-bottom: $spacer;
}


// Fix single variation product select icon (WC 9.8.5)
// https://github.com/bootscore/bootscore/pull/1024
.woocommerce div.product form.cart .variations select {
  background: var(--#{$prefix}form-select-bg-img);
  background-size: $form-select-bg-size;
  -webkit-background-size: $form-select-bg-size;
  background-repeat: no-repeat;
  background-position: $form-select-bg-position;
}