/*--------------------------------------------------------------
Breadcrumb - Bootscore v6.4.0
--------------------------------------------------------------*/

// Breadcrumb if wrapped in a horizontal scroller
.overflow-x-auto {

  scrollbar-color: rgba(var(--#{$prefix}body-color-rgb),.16) transparent;
    
  .breadcrumb-item {
    
    &.active {
      padding-right: $spacer;
    }

    &::before {
      float: none;
    }
  }
}
