/*--------------------------------------------------------------
Deprecated - Bootscore v6.4.0. This code will be removed in v7.
--------------------------------------------------------------*/


// Reset .is-layout-flow group block margins
// Use hide-wp-block-classes instead
// See https://github.com/bootscore/bootscore/pull/977
.is-layout-flow:not(.hide-wp-block-classes.is-layout-flow) > {
  * {
    margin-block-start: 0;
  }

  p:not(:last-child) {
    margin-block-end: $spacer;
  }
}


//Add width-100 class to element to stretch it to the entire width of the screen when element is wrapped inside .container.
.width-100 {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

// Prevent horizontal scrollbars on Windows Chrome & Firefox when using width-100 class
body {
  overflow-x: hidden;
}
